* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: 1;
}

#myForm {
    max-width: 20vw;
    padding: 20px;
    border: 1px black solid;
    border-radius: 10px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 15px;
    z-index: 1001;
}

#myForm *{
    margin-bottom: 10px;
}
#myForm button{
    max-width: 100%;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    font-size: 16px;
}
#myForm input{
    max-width: 100%;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
}
#myForm label{
    font-size: 30px;
}
@media (min-width: 360px) and (max-width: 1440px) {
    #myForm label{
        font-size: calc(10px + 20 * (100vw - 360px) / 1080);
    }
}